# Created by .ignore support plugin (hsz.mobi)
.idea/.gitignore
.idea/MyBatisCodeHelperDatasource.xml
.idea/compiler.xml
.idea/copyright/
.idea/dataSources.xml
.idea/dictionaries/
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/vcs.xml
bonelf-auth/bonelf-auth.iml
bonelf-auth/src/main/resources/META-INF/
bonelf-auth/src/test/
bonelf-auth/target/
bonelf-common/bonelf-common.iml
bonelf-common/src/test/
bonelf-common/target/
bonelf-gateway/bonelf-gateway-constant/bonelf-gateway-constant.iml
bonelf-gateway/bonelf-gateway-constant/src/main/resources/
bonelf-gateway/bonelf-gateway-constant/src/test/
bonelf-gateway/bonelf-gateway-constant/target/
bonelf-gateway/bonelf-gateway.iml
bonelf-gateway/src/main/java/com/bonelf/gateway/constant/
bonelf-gateway/src/main/java/com/bonelf/gateway/core/oauth2/
bonelf-gateway/src/main/java/com/bonelf/gateway/domain/Result.java
bonelf-gateway/src/test/
bonelf-gateway/target/
bonelf-service-order/bonelf-service-order.iml
bonelf-service-order/src/test/
bonelf-service-order/target/
bonelf-service-pay/bonelf-service-pay.iml
bonelf-service-product/bonelf-service-product.iml
bonelf-service-product/src/test/
bonelf-service-product/target/
bonelf-service-promotion/bonelf-service-promotion.iml
bonelf-service-search/bonelf-service-search.iml
bonelf-service-system/bonelf-service-system.iml
bonelf-service-test/bonelf-service-test.iml
bonelf-service-test/src/main/java/com/bonelf/testservice/core/websocket/constant/
bonelf-service-test/target/
bonelf-service-user/bonelf-service-user.iml
bonelf-service-user/src/test/
bonelf-service-user/target/
bonelf-support/bonelf-support.iml
bonelf-support/src/test/
bonelf-support/target/
bonelf.iml
"centos/\345\256\235\345\241\224/"
cicada/cicada.iml
cicada/src/main/resources/
cicada/src/test/
cicada/target/
logs/
